extends main

block content
  div(data-role='content')
    p
      | there will be some content in here
    #sensor_information
      button#start_stop_log
        | hello!
      h1
        | Orientation & Compass information
      div.ui-grid-c.o-and-c-breakpoint
        .ui-block-a
          div
            | alpha
          #alpha
        .ui-block-b
          div
            | beta
          #beta
        .ui-block-c
          div
            | gamma
          #gamma
        .ui-block-d
          div
            | compass
          #compass
      #ranges
          //div(data-role='fieldcontain')
          div(data-role='rangeslider', data-mini='true')
            label(for='range-alpha-a')
              | alpha:
            input#alpha-min(type='range', name='range-alpha-a', disabled='disabled', min='-500', max='500', value='0')
            label(for='range-alpha-b')
              | alpha-max:
            input#alpha-max(type='range', name='range-alpha-b', disabled='disabled', min='-500', max='500', value='0')
          // div(data-role='fieldcontain')
          div(data-role='rangeslider', data-mini='true')
            label(for='range-beta')
              | beta:
            input#beta-min(type='range', name='range-beta', disabled='disabled', min='-500', max='500', value='0')
            label(for='range-beta-max')
              | beta-max:
            input#beta-max(type='range', name='range-beta-max', disabled='disabled', min='-500', max='500', value='0')
          // div(data-role='fieldcontain')
          div(data-role='rangeslider', data-mini='true')
            label(for='range-gamma')
              | gamma:
            input#gamma-min(type='range', name='range-gamma', disabled='disabled', min='-500', max='500', value='0')
            label(for="range-gamma-max")
              | gamma-max:
            input#gamma-max(type='range', name='range-gamma-max', disabled='disabled', min='-500', max='500', value='0')
          // div(data-role='fieldcontain')
          div(data-role='rangeslider', data-mini='true')
            label(for='range-compass')
              | compass:
            input#compass-min(type='range', name='range-compass', disabled='disabled', min='-500', max='500', value='0')
            label(for="range-compass-max")
              | compass-max:
            input#compass-max(type='range', name='range-compass-max', disabled='disabled', min='-500', max='500', value='0')

      #orientation
        | there will be information about the orientation...

block page_scripts
    script(src='public/javascripts/acceleroTrip.js')