extends main

block page_scripts
  script(src='public/javascripts/tools/three.min.js')
  script(src='public/javascripts/tools/CSS3DRenderer.js')
  script(src='public/javascripts/tools/TrackballControls.js')
  script(src='public/javascripts/mytools/orientation.js')
  script(src='public/javascripts/mytools/boxMapper.js')
  script(src='public/javascripts/pages/box.js')

block content
  #levels(data-role='collapsible', data-theme='b', data-content-theme='b', data-collapsed="true")
    h1 Levels
    #relative-levels
      //(data-role='collapsible', data-theme='b', data-content-theme='b')
      h2 Relative levels
      .ui-grid-a.o-and-c-breakpoint
        .ui-block-a
          label(for='range-rel-roll')
            | roll:
          input#rel-roll(type='range', name='range-rel-roll', disabled='disabled', min='-90', max='90', value='0')
          br
          #rel-roll-canvas.canvas-container
        .ui-block-b
          label(for='range-rel-pitch')
            | pitch:
          input#rel-pitch(type='range', name='range-rel-pitch', disabled='disabled', min='-90', max='90', value='0')
          br
          #rel-pitch-canvas.canvas-container
      //(data-role='collapsible', data-theme='b', data-content-theme='b')
      h2 Absolute levels
      .ui-grid-a.o-and-c-breakpoint
        .ui-block-a
          label(for='range-roll')
            | roll:
          input#roll(type='range', name='range-roll', disabled='disabled', min='-90', max='90', value='0')
          br
          #roll-canvas.canvas-container
        .ui-block-b
          label(for='range-pitch')
            | pitch:
          input#pitch(type='range', name='range-pitch', disabled='disabled', min='-90', max='90', value='0')
          br
          #pitch-canvas.canvas-container
      //(data-role='collapsible', data-theme='b', data-content-theme='b')
      h2 Yaw & Compass
      .ui-grid-a.o-and-c-breakpoint
        .ui-block-a
          label(for='range-yaw')
            | roll:
          input#yaw(type='range', name='range-yaw', disabled='disabled', min='-90', max='90', value='0')
          br
          #yaw-canvas.canvas-container
        .ui-block-b
          label(for='range-compass')
            | pitch:
          input#compass(type='range', name='range-compass', disabled='disabled', min='-90', max='90', value='0')
          br
          #compass-canvas.canvas-container
  #tablet-3d-view
    #tablet
      .front
        .vertical-center
          | FRONT!
          button.face-button(data-place='front') click me!
        //- img.vertical-center(src='public/images/map.png')
      .back
        .vertical-center
          | BACK!
          button.face-button(data-place='back') click me!
      .top
        .vertical-center
          | TIPTOP!
          button.face-button(data-place='top') click me!
      .bottom
        .vertical-center
          | POTPIT!
          button.face-button(data-place='bottom') click me!
      .left
        .vertical-center
          | LEFT!
          button.face-button(data-place='left') click me!
      .right
        .vertical-center
          | RIGHT!
          button.face-button(data-place='right') click me!
// block footer