extends main

//- block page_scripts
  script(src='public/javascripts/tools/three.min.js')
  script(src='public/javascripts/tools/CSS3DRenderer.js')
  script(src='public/javascripts/tools/ColladaLoader.js')
  script(src='public/javascripts/mytools/SimpleTrackball.js')
  // script(src='public/javascripts/mytools/CombinedCamera.js')
  script(src='public/javascripts/mytools/orientation.js')
  script(src='public/javascripts/mytools/boxMapper.js')
  script(src='public/javascripts/mytools/has3d.js')
  script(src='public/javascripts/mytools/3Dworld.js')
//-  script(src='public/javascripts/pages/index.js')

block content
  h1 Content list
  p This small web-app currently host a few tests that plays with device orientation and CSS3D and 3D rendering in HTML5's Canvas tag.
  ul(data-role='listview', data-inset='true')
    li
      a(href='/test', data-ajax="false")
        h2 Orientation test
        p Log and track the orientation events emitted by the mobile device.
    li
      a(href='/box', data-ajax="false")
        h2 3D box
        p Creates a 3D box that can be rotated by tilting the viewing device or drag-n-drop with the pointer
    li
      a(href='/maptest', data-ajax="false")
        h2 3D map test
        p
          strong Work in progress. (pretty unstable)
        p
          | Creates a 3D map and display a simple plane model on top of it.
          | Select the best rendering mode by itself.
          | One should soon be able to rotate the map.


block page_footer
  //- .ui-grid-b.footer-grid
    .ui-block-a(data-role='controlgroup', data-type='horizontal')
      button#zoom(data-icon='plus', data-iconpos='notext') Zoom In
      button#unzoom(data-icon='minus', data-iconpos='notext') Zoom Out
    .ui-block-b(data-role='controlgroup', data-type='horizontal')
      button#menu(data-icon='grid', data-iconpos='notext') Menu
    .ui-block-c
      label.ui-hidden-accessible(for="lookOrMove") Exploring methods:
      select#lookOrMove(name="lookOrMove", data-role="slider", data-mini='true')
        option(value="true") Look
        option(value="false") Move