!!!
html
  head
    title Accelero Tests
    <meta name="apple-mobile-web-app-capable" content="yes" />
    link(rel='stylesheet', href='/public/stylesheets/style.css')
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
    script(src='/public/javascripts/mytools/panelConsole.js')
    script(src='/public/javascripts/mytools/wrapperExpand.js')
    // script(src='/public/javascripts/tools/three.min.js')
    // script(src='/public/javascripts/tools/CSS3DRenderer.js')
    //- block scripts
  body
    div(data-role='page', id='#{page_id}')
      #console-panel(data-role='panel', data-position='right', data-display='overlay')
        div
          a#clear-console(href='#', data-icon='delete', data-role='button') Clear
          a(href='#console-panel', data-rel='close', data-icon='back', data-role='button') Close
          span.ui-title
        #console-panel-content
      div(data-role='header', data-position='fixed')
        block page_header
          h1 Tests
          a(href='#console-panel', data-icon='gear')
            | console
      div#content-wrapper
        block content
      block footer
        div(data-role='footer', data-position='fixed')
          block page_footer
            h1 Browse your trip!

      block page_scripts