extends main

block page_scripts
  script(src='public/javascripts/tools/three.min.js')
  script(src='public/javascripts/tools/CSS3DRenderer.js')
  script(src='public/javascripts/tools/ColladaLoader.js')
  script(src='public/javascripts/mytools/SimpleTrackball.js')
  // script(src='public/javascripts/mytools/CombinedCamera.js')
  script(src='public/javascripts/mytools/orientation.js')
  script(src='public/javascripts/mytools/boxMapper.js')
  script(src='public/javascripts/mytools/has3d.js')
  script(src='public/javascripts/mytools/3Dworld.js')
  script(src='public/javascripts/pages/maptest.js')

block content
  #world3D
    img.ground(src='public/images/map.png')

block page_footer
  .ui-grid-b.footer-grid
    .ui-block-a(data-role='controlgroup', data-type='horizontal')
      button#zoom(data-icon='plus', data-iconpos='notext') Zoom In
      button#unzoom(data-icon='minus', data-iconpos='notext') Zoom Out
    .ui-block-b(data-role='controlgroup', data-type='horizontal')
      button#menu(data-icon='grid', data-iconpos='notext') Menu
    .ui-block-c
      label.ui-hidden-accessible(for="lookOrMove") Exploring methods:
      select#lookOrMove(name="lookOrMove", data-role="slider", data-mini='true')
        option(value="true") Look
        option(value="false") Move