/** {margin:0;padding:0;}*/

html {
  height: 100%;
}
body {
  /*padding: 50px;*/
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

a {
  color: #00B7FF;
}
@media all and (max-width: 30em) {
  .o-and-c-breakpoint .ui-block-a,
  .o-and-c-breakpoint .ui-block-b,
  .o-and-c-breakpoint .ui-block-c,
  .o-and-c-breakpoint .ui-block-d {
    width: 100%;
    float:none;
  }
}
.canvas-container {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
.footer-grid > div {
  text-align: center;
}
#content-wrapper {
  width: 100%;
  overflow: hidden;
}
/******************************************************************************
 * 3D magic goes here!                                                        *
 ******************************************************************************/
 /*
 #tablet-3d-view {
  perspective: 600px;
  perspective-origin: 50% 50%;
  -webkit-perspective: 600px; /* Safari and Chrome *
  -webkit-perspective-origin: 50% 50%; /* Safari and Chrome *
}
#tablet {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
#tablet div{
  transform-style: flat;
  backface-visibility: hidden;
  -webkit-transform-style: flat;
  -webkit-backface-visibility: hidden;
}
*/
#tablet-3d-view{
  /*min-height:100%;*/
  /*height: auto !important;*/
  height: 100%;
}
#tablet {
  width : 100%;
  height: 100%;
}
.front {
  background-color: #8f748f;
}
.back {
  background-color: #7685cc;
}
.top {
  background-color: #70bf70;
}
.bottom {
  background-color: #ba9b6c;
}
.left {
  background-color: #6ab5b1;
}
.right {
  background-color: #b56a6a;
}
.vertical-center {
  margin: auto;
  height: 100%;
}

#world3D {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background: #576896; /* Old browsers */
  background: -moz-linear-gradient(top,  #576896 14%, #3f4c6b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(14%,#576896), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #576896 14%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #576896 14%,#3f4c6b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #576896 14%,#3f4c6b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #576896 14%,#3f4c6b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#576896', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */

}